name: 'Jinja'
scopeName: 'source.jinja'
type: 'modern-tree-sitter'
parser: 'tree-sitter-jinja2'

injectionRegex: 'jinja2?'

treeSitter:
  parserSource: 'github:savetheclocktower/tree-sitter-jinja2#caa8e2e5ff5f08c5f3d9c174c07c5835721bc79a'
  grammar: 'tree-sitter/tree-sitter-jinja2.wasm'
  highlightsQuery: 'tree-sitter/highlights.scm'
  foldsQuery: 'tree-sitter/folds.scm'
  indentsQuery: 'tree-sitter/indents.scm'
  tagsQuery: 'tree-sitter/tags.scm'

fileTypes: [
  'jinja',
  'jinja2',
  'j2'
]

comments:
  start: '{# '
  end: ' #}'
  block: ['{#', '#}']
